.answers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #bae7ff;
  cursor: pointer;
  transition: opacity 0.5s;
  &:hover {
    opacity: 0.8;
  }
  &_correct {
    background-color: #20bf6b;
  }
  &_incorrect {
    background-color: #eb3b5a;
  }
}
.answers__text {
  font-size: 40px;
  user-select: none;
  &_correct {
    color: white;
  }
  &_incorrect {
    color: white;
  }
}
